// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.delete_link{
  color: #8D4248;
}

.tag_name {
  color: #8BA6C2
}

.back_link {
  color: white
}
